# Configurações do Banco de Dados
# Substitua o usuário e senha caso não esteja utilizando o docker-compose padrão
DATABASE_URL="postgresql://appbit:appbit123@localhost:5433/appbit_db?schema=public"

# Configurações da API
PORT=3000

# Integração com a IA do Google (Gemini)
# Crie sua chave em: https://aistudio.google.com/app/apikey
GEMINI_API_KEY="SUA_CHAVE_AQUI"
